.container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.plan h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.plan .row {
  margin-bottom: 20px;
}

.plan .col-sm p {
  font-size: 16px;
  color: #666;
  margin: 0;
  padding: 5px 0;
}

.liste-seances {
  margin: 0 auto;
  /* raccourci pour mettre la marge à 0 haut et en bas et auto à gauche et à droite */
  width: 600px;
}

.liste-seances h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.list-group-item {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, padding 0.3s;
}

.list-group-item strong {
  font-weight: bold;
  color: #333;
}

.list-group-item p {
  margin: 5px 0;
  color: #666;
}

.list-group-item:last-child {
  margin-bottom: 0;
}

.list-group-item:hover {
  background-color: rgb(23, 224, 255);
  padding: 6%;
}

nav {
  margin-top: 10%;
  margin-bottom: 5%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  background-color: #f0f0f0;
}

p:hover {
  font-size: large;
  padding: 6%;
  color: #0073ff;
  transition: font-size 0.4s, color 0.4s;
}