<div class="all">
    <div class="nav">
        <img src="https://tse1.mm.bing.net/th?id=OIP.TBsXHGyI_IddmgoHNj7t3AHaDW&pid=Api&P=0&h=180" alt=""
            style="width: 80%;">
        <div>
            <p style="font-size: small;">
                Le forum des entreprises de l'ENICarthage est un événement annuel</p>
            <p style="font-size: small;">où les entreprises rencontrent les
                étudiants pour des stages,</p>
            <p style="font-size: small;"> des emplois ou des collaborations académiques.</p>
            <p style="font-size: small;"> C'est une opportunité de
                networking et de recrutement importante </p>
            <p style="font-size: small;"> pour la communauté de l'ENICarthage.</p>
        </div>

        <nav class="navbar navbar-expand-md navbar-light ">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="https://mail.google.com" target="_blank"><i class="fab fa-google"></i>
                            Gmail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/profile.php?id=100057503648571"
                            target="_blank">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">

            <div style="margin-left: 40%;margin-top: -5%;width: 100px;" class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Somme Gain</h5>
                        <div class="circle" style="background-color: rgb(0, 167, 251)">
                            <h3 class="circle-text">{{ sommeGain }}</h3>
                        </div>
                        <p class="card-text">Total Somme Gain</p>
                    </div>
                </div>
            </div>
            <div style="margin-top: 1%;margin-left:40%;margin-left: ;" class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Somme Dépense</h5>
                        <div class="circle1" style="background-color: rgb(255, 0, 0);">
                            <h3 class="circle-text">{{ sommeDepense }}</h3>
                        </div>
                        <p class="card-text">Total Somme Dépense</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!--  <div class="dashboard">
        <svg class="chart"></svg>
        <div class="tooltip"></div>
    </div>-->