.container {
    margin-top: 50px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.circle1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(255, 0, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.circle-text {
    margin: 0;
    font-size: 2rem;
    color: rgb(37, 16, 16);
}

.col-md-6 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

nav {
    background-color: #ffffff;
}

.navbar-nav {
    width: 400px;
    background-color: #ffffff;
    /* Largeur de la barre de navigation */
}

.nav-item {
    width: 100%;
}

.nav-link {
    padding: 10px 20px;
    color: #333;
    /* Couleur du texte */
    font-size: 18px;
    /* Taille de la police */
    text-decoration: none;
    /* Supprime le soulignement du lien */
}

.nav-link:hover {
    background-color: #f8f9fa;
    /* Couleur de fond au survol */
    color: #007bff;
    /* Couleur du texte au survol */
}

.nav-link i {
    margin-right: 10px;
    /* Marge à droite de l'icône */
}

.all {
    background-color: #ffffff;

    display: flex;
}

p:hover {

    font-size: 200%;
    color: #5a2005;
    transition: font-size 0.3s, color 0.3s;
}