body {
  background-color: #f8f9fa;
}

.login-section {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
  margin-bottom: 30px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  border-radius: 5px;
}

.new-enterprise-section {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-enterprise-section button {
  margin-top: 20px;
}

.colo {
  background-color: rgb(204, 204, 218);
  color: white;
  /* Pour assurer que le texte est lisible sur le fond bleu */
  padding: 40px;
  /* Pour conserver l'espace intérieur */
  border-radius: 10px;
  /* Pour arrondir les coins */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Pour ajouter une ombre légère */
}