.container {
    background-color: #ffffff;
    /* Couleur de fond */
    border-radius: 10px;
    /* Coins arrondis */
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Ombre douce */
    padding: 40px;
}

.card-header {
    background-color: #007bff;
    /* Couleur de fond de l'en-tête */
    border-radius: 10px 10px 0 0;
    /* Coins arrondis uniquement en haut */
}

.card-header h2 {
    color: #ffffff;
    /* Couleur du texte */
}

.card-body {
    border-radius: 0 0 10px 10px;
    /* Coins arrondis uniquement en bas */
}

.form-group {
    margin-bottom: 20px;
    /* Espacement entre les groupes de formulaire */
}

.form-control {
    border-radius: 5px;
    /* Coins arrondis des champs de formulaire */
    border-color: #ffffff;
    /* Couleur de la bordure */
}

.btn-primary {
    background-color: #0069d9;
    /* Couleur de fond du bouton */
    border-color: #0062cc;
    /* Couleur de la bordure du bouton */
    border-radius: 5px;
    /* Coins arrondis du bouton */
    color: #fff;
    /* Couleur du texte */
    padding: 10px 20px;
    /* Espacement à l'intérieur du bouton */
    transition: all 0.3s ease;
    /* Animation de transition */
}

.btn-primary:hover {
    background-color: #00ff95;
    /* Couleur de fond du bouton au survol */
    border-color: #ffffff;
    /* Couleur de la bordure du bouton au survol */
}

.all {
    display: flex;
}

.btnn button {

    margin-left: 3%;
}