<div class="all">
    <div style="width: 70%;"> <img style="margin-top: 30%; width: 80%;" src="assets/pack.png" alt=""></div>



    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h2>Remplir vos données</h2>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="nom">Nom de l'entreprise :</label>
                                <input type="text" [(ngModel)]="ent.nom" class="form-control" id="nom" name="nom"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="codeFiscal">Code fiscal :</label>
                                <input type="text" [(ngModel)]="ent.nif" class="form-control" id="codeFiscal"
                                    name="codeFiscal" required>
                            </div>
                            <div class="form-group">
                                <label for="codeFiscal">Email :</label>
                                <input type="text" [(ngModel)]="ent.e_mail" class="form-control" id="email" name="Email"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="motDePasse">Mot de passe :</label>
                                <input type="password" [(ngModel)]="ent.motPasse" class="form-control" id="motDePasse"
                                    name="motDePasse" required>
                            </div>
                            <div class="form-group">
                                <label for="adresse">Adresse :</label>
                                <input type="text" [(ngModel)]="ent.adresse" class="form-control" id="adresse"
                                    name="adresse" required>
                            </div>
                            <div class="form-group">
                                <label for="numTelephone">Numéro de téléphone :</label>
                                <input type="tel" [(ngModel)]="ent.numtel" class="form-control" id="numTelephone"
                                    name="numTelephone" required>
                            </div>
                            <div class="form-group">
                                <label for="etat">État :</label>
                                <select class="form-control" id="etat" name="etat" required>
                                    <option value="PAYER">PAYER</option>
                                    <option value="NON_PAYER">NON_PAYER</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="packId">ID du pack :</label>
                                <input type="number" [(ngModel)]="ent.pack.id" class="form-control" id="packId"
                                    name="packId" required>
                            </div>
                            <div class="form-group">
                                <label for="motDePasse">CODE SECURITE :</label>
                                <input type="password" [(ngModel)]="code" class="form-control" id="code" name="code"
                                    required>
                            </div>
                            <div class="btnn">
                                <button type="submit" class="btn btn-primary"
                                    (click)="ajouterEntreprise()">VALIDER</button>
                                <button (click)="toplanning()" type="submit" class="btn btn-primary">Consulter le
                                    planning</button>
                                <button (click)="remplirFeed()" type="submit" class="btn btn-primary">Feedback</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>