<div class="container mt-5">
    <h2>Formulaire de Pack</h2>

    <div class="form-group">
        <label for="typePack">Type de Pack</label>
        <input [(ngModel)]="pack.type" type="text" class="form-control" id="typePack">
    </div>
    <div class="form-group">
        <label for="nombreLimite">Nombre Limite</label>
        <input [(ngModel)]="pack.nbrePlaceLimite" type="number" class="form-control" id="nombreLimite">
    </div>
    <div class="form-group">
        <label for="prix">Prix</label>
        <input [(ngModel)]="pack.prix" type="number" class="form-control" id="prix">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea [(ngModel)]="pack.description" class="form-control" id="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="ajouter()">Soumettre</button>

</div>



<div class="container mt-5">
    <h2>Liste des Packs</h2>
    <ul class="list-group">
        <!-- Exemple d'un pack -->
        <li *ngFor="let il of packs" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5>PACK ID : {{il.id}}</h5>
                <p> TYPE: {{il.type}}</p>
                <p>PRIX: {{il.prix}}</p>
                <p>NBRE_LIMITE: {{il.nbrePlaceLimite}}</p>
                <p>DESCRIPTIO: {{il.description}}</p>
            </div>
            <div>
                <button (click)="editer(il)" type="button" class="btn btn-warning mr-2" title="Editer"><i
                        class="fas fa-edit"></i></button>
                <button (click)="supprimer(il.id)" type="button" class="btn btn-danger" title="Supprimer"><i
                        class="fas fa-trash-alt"></i></button>
            </div>
        </li>

    </ul>
</div>